section ol li {
    list-style-type: none;
    float: left;
    margin-left: 250px;
    padding-right:5px;
    
}

body {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}
li{
    list-style-type: none;
}